@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Playfair+Display+SC&display=swap');

:root{
    font-size: 62.5%;

    --bg-body: #e6dfd5;
    --bg-nav:#F79B07;
    --cor-title: #161e25;
    --cor-title2: #CC444B;

    --font-nav: 'IBM Plex Sans', sans-serif;
    --font-title: 'Playfair Display SC', georgia;
    --font-text: Helvetica, Arial;
}

