.home{
  margin-bottom: 2rem;
}
.ulFeed{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
}
.ulFeed img{
  border-radius: .3rem;
}
.ulFeed img:hover{
 opacity: .8;
}
.imageDogsFeed{
  display: grid;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.ulFeed .imageDogsFeed:nth-child(6n+2){
  grid-column: 2 / 4;
  grid-row: span 2;
}
.imageDogsFeed:hover .views {
  opacity: 1;
}
.views{
  position: absolute;
  color: white;
  opacity: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: opacity 0.2s ease;
}
@media(max-width: 40rem){
  .ulFeed{
    grid-template-columns: 1fr 1fr;
  }
  .ulFeed .imageDogsFeed:nth-child(4n+2){
    grid-column: initial;
    grid-row: initial;
  }
}