.modal{
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.4);
  z-index: 1000;
  padding: 2rem; 
}
.modalContainer{
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  background: white;
  margin: auto;
  height: 36rem;
  overflow: hidden;
  border-radius: .4rem;
  opacity: 0;
  transform: scale(.8);
  animation: scaleUp .3s forwards;
}
.modalImg{
  grid-row: 1/4;
}
.modalForm{
  padding: 2rem;
}
.modalTitle{
  position: relative;
  font-size: 2.4rem;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  z-index: 1;
}
.modalTitle span{
  position: absolute;
  background: #fb1;
  border-radius: .3rem;
  height: 25px;
  width: 25px;
  top: 28px;
  left: -7px;
  z-index: -1;
}

.modalViews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.modalViews a, span, i{
  color: #AFAFAF;
  text-decoration: none;
}
.modalDogInfos{
  display: flex;
  gap: 2rem;
  font-weight: 600;
}
.modalComments{
  overflow-y: auto;
  word-break: break-word;
  padding: 0 2rem;
}
.modalComments li span{
  margin-left: .5rem;
  color: black;
  font-weight: 300;
}
.modalSendMsg{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1rem 1rem;
}
.modalSendMsg textarea{
  display: block;
  width: 100%;
  padding: .4rem;
  border-radius: .4rem;
  border: 2px solid white;
  background-color: #ededed;
  outline: none;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 0px 1px transparent;
  resize: none;
}
.modalSendMsg textarea:hover,
.modalSendMsg textarea:focus{
  border: 2px solid #fb1;
  box-shadow: 0px 0px 0px 3px #f7f48b;
  background: white;
}
.modalSendMsg button{
  background-color: transparent;
  border: none;
}
.modalSendMsg button:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.modalSendMsg i{
  color: #fb1;
  cursor: pointer;
}
@keyframes scaleUp{
  100%{
    opacity: initial;
    transform: initial;
  }
}

@media (max-width: 1024px) {
  .modalContainer{
    grid-template-columns: minmax(20rem, 40rem);
    grid-template-rows: auto;
    height: auto;
    max-width: calc(100vh - 4rem);
    overflow-y: auto;
  }
  .modalImg{
    grid-row: 1;
  }
  
}