.delete{
  font-size: small;
  padding: .2rem .4rem;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  display: block;
}
.delete:hover{
  border: .1px solid #fb1;
  transform: scale(1.1);
  transition: .2s ease;
}