.dashboardMain{
  height: 100vh;
}
.dashboardHeader{
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;
}
.dashboardIcons{
  display: flex;
  gap: .5rem;
}
.dashboardIcons span{
  display: block;
  background: #d9dbda;
  border: .1px solid white;
  width: 2.8rem;
  padding: .6rem ;
  border-radius: .3rem;
  cursor: pointer;
  text-align: center;
}
.dashboardIcons span:hover:not(.selected) {
  display: block;
  background: white;
  border: .8px solid black;
  transition: .2s ease;
}
.dashboardIcons span i{
}
.dashboardIcon{
  border: 2px solid #fb1;
  box-shadow: 0px 0px 0px 3px #fb1;
  background: white !important;
  
}
.dashboardIcon i{
  color: #fb1;
}