.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.inputFile{
  margin-top: 1rem;
}
.mainForm Input{
  width: 100%;
}
.mainForm span{
  font-size: small;
}
.preview{
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}
.preview::after{
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}