*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: bisque;
    font-size: 16px;
}
label{
    display: block;
    margin-bottom: .5rem;
    margin-top: .5rem;
}
p{
    font-family: 'Segoe UI';
    margin-top: 1rem;
}
input,select{
    padding-left: .3rem;
    height: 1.5rem;
    border-radius: .3rem;
    border: 1px solid rgb(190, 161, 125);
}
input[type=range] {
    
}
.button-creator{
    display: grid;
    gap: 30px;
    grid-template-columns: 250px 1fr;
    padding: 30px;
}
.btn{
    cursor: pointer;
}
.controls{
    font-family: 'Segoe UI';
    font-weight: 600;
    background: rgb(190, 161, 125);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
.css{
    font-family: monospace;
    font-weight: 600;
    margin: 40px;
    display: flex;   
    flex-direction: column;
}
.css span{
    display: block;
    margin-bottom: .5rem;
}

