.lostPassaword p{
  color: #898989;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.loginForm h1:nth-child(8){
  display: block;
  font-size: 1.6rem;
  position: relative;
  margin-bottom: 1rem;
}
.loginForm h1:nth-child(8) span{
  position: absolute;
  background: #DDDDDD;
  border-radius: .3rem;
  height: 10px;
  width: 60px;
  top: 35px;
  left: 0;
  z-index: -1;
}
.loginForm p:nth-child(9){
  margin-bottom: 1rem;
}
.btnRegister{
  text-decoration: none;
}
