.login{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: 100vh;
  margin-top: 2rem;
}
.responsiveImageLogin{
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.loginForm{
  margin-top: 25vh;
}
.loginForm label{
  display: block;
  margin-top: .8rem;
  margin-left: .1rem;
}
.lostPassaword p{
  color: #898989;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.messageForm{
  font-size: medium;
  color: red;
}