.login{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: 100vh;
  margin-top: 2rem;
}
.responsiveImageLogin{
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.loginForm{
  margin-top: 25vh;
}
.loginForm h1{
  display: block;
  font-size: 2.4rem;
  letter-spacing: .2rem;
  position: relative;
  margin-bottom: 1rem;
}
.loginForm span{
  position: absolute;
  background: #fb1;
  border-radius: .3rem;
  height: 25px;
  width: 25px;
  top: 28px;
  left: -7px;
  z-index: -1;
}
.loginForm label{
  display: block;
  margin-top: .8rem;
}
.messageForm{
  font-size: medium;
  color: red;
}