.mainHeader{
  background: white;
  box-shadow: 0 10px 20px #0000001a;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mainHeader p{
  font-size: 2rem;
}
.mainContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.left{
  background: white;
  box-shadow: 0 10px 20px #0000001a;
  height: 400px;
  padding: 2rem;
}
.right{
  background: white;
  box-shadow: 0 10px 20px #0000001a;
  height: 400px;
  padding: 2rem;
}